@model Biluthyrning_AB.Models.ViewModels.CarsListOfAllVM[]

<div class="container">
    <div class="row" style="background-color: lightgray">
        <div class="col-sm">
            Biltyp
        </div>
        <div class="col-sm">
            Regnr
        </div>
        <div class="col-sm">
            Körda Km
        </div>
        <div class="col-sm">
            Uthyrd?
        </div>
    </div>

    @for (int i = 0; i < Model.Length; i++)
    {
        if (i % 2 == 0)
        {
            <div class="row" style="background-color: bisque">

                <div class="col-sm">
                    @Model[i].CarType
                </div>
                <div class="col-sm">
                    @Model[i].Registrationnumber
                </div>
                <div class="col-sm">
                    @Model[i].Kilometer
                </div>
                <div class="col-sm">
                    @if (@Model[i].AvailableForRent == false)
                    {
                        <span>Ja, till @Model[i].customer.FirstName @Model[i].customer.LastName (<a asp-controller="Customers" asp-action="Details" asp-route-id="@Model[i].customer.Id">@Model[i].customer.PersonNumber</a>)</span>
                    }
                    @if (@Model[i].AvailableForRent == true)
                    {
                        <span>Nej</span>
                    }
                </div>

            </div>
        }

        if (i % 2 == 1)
        {
            <div class="row" style="background-color: white">

                <div class="col-sm">
                    @Model[i].CarType
                </div>
                <div class="col-sm">
                    @Model[i].Registrationnumber
                </div>
                <div class="col-sm">
                    @Model[i].Kilometer
                </div>
                <div class="col-sm">
                    @if (@Model[i].AvailableForRent == false)
                    {
                        <span>Ja, till @Model[i].customer.FirstName @Model[i].customer.LastName (<a asp-controller="Customers" asp-action="Details" asp-route-id="@Model[i].customer.Id">@Model[i].customer.PersonNumber</a>)</span>
                    }
                    @if (@Model[i].AvailableForRent == true)
                    {
                        <span>Nej</span>
                    }
                </div>

            </div>
        }

    }

</div>