@model Biluthyrning_AB.Models.ViewModels.CarsListOfAllVM[]

<div class="container">
    <div class="row" style="background-color: lightgray">
        <div class="col-sm">
            Biltyp
        </div>
        <div class="col-sm">
            Regnr
        </div>
        <div class="col-sm">
            Körda Km
        </div>
        <div class="col-sm">
            Uthyrd?
        </div>
        <div class="col-sm">
            Behov av tvätt?
        </div>
        <div class="col-sm">
            Behov av service?
        </div>
        <div class="col-sm">
            Flaggad för borttagning
        </div>
    </div>

    @for (int i = 0; i < Model.Length; i++)
    {
            <div class="row" style="background-color: @(i % 2 == 0 ? "bisque" : "white")">

                <div class="col-sm">
                    @Model[i].CarType
                </div>
                <div class="col-sm">
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@Model[i].Id">@Model[i].Registrationnumber</a> 
                </div>
                <div class="col-sm">
                    @Model[i].Kilometer
                </div>
                <div class="col-sm">
                    @if (@Model[i].AvailableForRent == false)
                    {
                        <span>Ja</span>
                    }
                    @if (@Model[i].AvailableForRent == true)
                    {
                        <span>Nej</span>
                    }
                </div>
                <div class="col-sm">
                    @if (@Model[i].CleaningId != 0)
                    {
                    <span>
                        Ja, (<form asp-controller="Cars" asp-action="CleaningFromCarList" asp-route-id="@Model[i].CleaningId" method="post">
                            <input type="submit" value="Tvätta" />
                        </form>)
                    </span>
                    }
                    @if (@Model[i].CleaningId == 0)
                    {
                        <span>Nej</span>
                    }
                </div>
                <div class="col-sm">
                    @if (@Model[i].ServiceId != 0)
                    {
                    <span>
                        Ja, (<form asp-controller="Cars" asp-action="ServiceFromCarList" asp-route-id="@Model[i].ServiceId" method="post">
                            <input type="submit" value="Tvätta" />
                        </form>)
                    </span>
                    }
                    @if (@Model[i].ServiceId == 0)
                    {
                        <span>Nej</span>
                    }
                </div>
                <div class="col-sm">
                    @if (@Model[i].RetireId != 0)
                    {
                        <span>Ja</span>
                    }
                    @if (@Model[i].RetireId == 0)
                    {
                        <span>Nej</span>
                    }
                </div>
            </div>   
    }
</div>